<div class="table-container">
  <%= link_to 'Logout', '/admin/logout', class: 'btn' %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Email</th>
        <th>Current SignIn Time</th>
        <th>SignIn Count</th>
      </tr>
    </thead>
    <% @user.each do |u| %>
    <tbody>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.gender %></td>
        <td><%= u.address %></td>
        <td><%= u.user.email %></td>
        <td><%= time_ago_in_words(u.user.current_sign_in_at) if u.user.current_sign_in_at %> </td>
        <td><%= u.user.sign_in_count %></td>
     </tr>
    </tbody>
  <% end %>
  </table>
</div>
